<div class="stockholding-text">


  <h1 class ="stockholding-values">Total Current Stockholding Value - Cost:<br><%= @shop.stockholding_value_cost_price %> </h1>

  <h1 class ="stockholding-values">Total Current Stockholding Value - Retail:<br><%= @shop.stockholding_value_retail_price %>  </h1>

  <h1 class ="stockholding-values">Current projected profit:<br><%= @shop.calculate_profit  %> </h1>

</div>
