
<table class="supplier_table">
  <tr>
  <th>Name</th><th>
    Email</th><th>Phone</th>
    </th>
  </th>
  </tr>
  <% for supplier in @suppliers %>
<tr>
  <td>
    <%= supplier.name()  %>
  </td>
  <td>
    <%= supplier.email()%>
  </td>
  <td>
    <%= supplier.phone()%>
  </td>

  <td>
  <p><a href="/suppliers/<%= supplier.id %>/edit">Edit</a></p>
  </td>
</tr>
<% end  %>

</table>
