<form method="post" action="/suppliers">
  <label for="name-field">Supplier Name:</label>
  <input
  required
  type="text"
  name="name"
  id="name-field"
  />

  <label for="email">Email Address:</label>
  <input
  required
  type="text"
  name="email"
  id="email-field"
  />

  <label for="phone">Phone Number:</label>
  <input
  required
  type="number"
  name="phone"
  id="phone-field"
  />

  <input type="submit" value="Add Supplier" height="250px">
</form>
