<div class="home-input">


  <label for="user-id">Enter Username:</label>
  <input class="login-field"
  style="color:#888;"
  type="text"
  name="username"
  onfocus="inputFocus(this)" onblur="inputBlur(this)"
  id="username-field"
  value="<username>"

    <label for="password-id">Enter Password:</label>
    <input class="login-field"
    style="color:#888;"
    type="text"
    name="password"
    id="password-field"
    value="<password>"
      />



      <a href="/products">  <input   class="big-btn-home" type="submit" value="Enter My.STK" /></a>

    </div>
