<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My.STK</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  </head>
  <body>
    <nav>
<ul>
  <li>
    <a href="/products">Show current stockholding</a>
  </li>
  <li>
    <a href="/products/new">Add a product</a>
  </li>
  <li>
    <a href="/suppliers">View suppliers</a>
  </li>
  <li>
    <a href="/suppliers/new">Add a supplier</a>
  </li>
  <li>
    <a href="/stockholding">Calculate current stockholing value</a>
  </li>
</ul>

    </nav>
    <section id="content">
    <%= yield %>
    </section>
  </body>
</html>
