html * {
  font-family: 'Josefin Sans', sans-serif;

}
nav {
  display: inline;
  font-size: 1.3em;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;

}

nav a {
  text-decoration: none;
  border-style: solid;
  padding: 10px;
  margin-top: 10px;

}

.stock {

  font-size: 1.2em;
}


.stock-green {
  background-color: green;
}

.stock-amber {
  background-color: rgb(255, 168, 0)
}

.stock-red {
  background-color: red;
}

.supplier_table {
  padding-top: 20px;
}


.stock_table {

  padding-top: 20px;
  justify-content: center;
}
