html {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #cff09e

}

.home {
  font-family: 'Josefin Sans';
  font-size: 20em;
  text-align: center;
}

nav {
  font-size: 1.4em;
}

nav ul  {
  list-style-type: none;
  padding: 0;
}
nav ul li {
  display: inline-block;
}
nav a {
  display: block;
  text-decoration: none;
  border-style: solid;
  margin-bottom: 10px;
  padding: 10px;
}
nav a:hover {
  background-color: #a8dba8;
}

table.a {
  text-decoration: none;
  color: rgb(94, 61, 163);
}
.stock {

  font-size: 1.2em;
}


.stock-green {
  background-color: green;
  justify-content: center;
  font-weight: bold;


}

.stock-amber {
  background-color: rgb(255, 168, 0);
  justify-content: center;
}

.stock-red {
  background-color: red;
  justify-content: center;
}

.supplier_table {
  padding: 20px 10px;
  border-style: solid;
  font-size: 1.3em;

  margin-left: 30px;

}


.stock_table {

  padding-top: 20px;
  justify-content: center;
  padding: 20px 10px
}

.add_product_form {
  margin-top: 20px;
  font-size: 1.3em;
}

.edit_form {
  margin-top: 20px;
  font-size: 1.3em;
}


.supplier_edit_table {

  margin-top: 25px;
  font-size: 1.3em;
}
input[type="text"], select {
  display: block;
  height: 25px;
  font-size: 1em;
  margin-bottom: 0.8em;
}



.sold_box[type="number"] {
  display: block;
  height: 25px;
  font-size: 1em;
  margin-bottom: 0.8em;
  width: 79px
}

.delivered_box[type="number"] {
  display: block;
  height: 25px;
  font-size: 1em;
  margin-bottom: 0.8em;
  width: 79px
}

input[type="number"] {
  display: block;
  height: 25px;
  font-size: 1em;
  margin-bottom: 0.8em;
  width: 100px

}
th {
  font-size: 1.3em;
}

td {
  text-align: center;
  font-size: 1.3em;

}

td a {
  color: rgb(51, 0, 158)
}
.upn {
  display: block;

}

.returned_profit {
  font-size: 1.7em;

}

.button {
  background-color: #000000;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin:10px
}

.small-btn {
  width: 50px;
  height: 25px;
}
.small-btn-submit {
  width: 79px;
  height:25px;
}

.medium-btn {
  width: 70px;
  height: 30px;
}

.big-btn {
  width: 120px;
  height: 60px;
}

.big-btn-index {
  width: 106px;
  height: 60px;
}
.big-btn-edit {
  width: 216px;
  height: 300px;
  font-size: 18px;
  cursor: pointer;
}

  .big-btn-new {
  width: 200px;
  height: 300px;
  font-size: 18px;
  cursor: pointer;
}

.big-btn-supplier {
width: 216px;
height: 300px;
font-size: 18px;
cursor: pointer;
}

.big-btn-supplier-delete {
width: 216px;
height: 300px;
font-size: 18px;
cursor: pointer;
}


div.stockholding-text {
  text-align: left;
  font-size: 1.5em;
}


.description-input-box {
  width: 400px;
}

.supplier-dropdown {
  padding: 100px;
  height: 100px;
}


input[type="number"].supplier-phone-field {
  width: 210px;
  height: 20px;
  padding: 2px
}

.supplier-selector {
  padding: 9px;

}
