<form method="post" action="/products/show-all">
  <label for="description-field">Product description:</label>
  <input
  type="text"
  name="description"
  id="description-field"
  />

  <label for="cost_price">Cost Price:</label>
  <input
  type="number"
  name="cost_price"
  id="cost_price-field"
  />

  <label for="retail_price">Retail Price:</label>
  <input
  type="number"
  name="retail_price"
  id="retail-price-field"
  />

  <label for="bookstock-field">Bookstock:</label>
  <input
  type="number"
  name="bookstock"
  id="bookstock-field"
  />

  <label for="supplier_id-field">Supplier:</label>
  <input
  type="text"
  name="supplier_id"
  id="supplier_id-field"
  />



  <input type="submit" value="Add product">
</form>
