<form method="post" action="/products" height: 200px font-size: 14pt>
  <div class="add_product_form">

    <label for="upn-field">Unique Product No:</label>
    <input
    required
    type="number"
    type="number" name="number" min="1" max="999999"
    name="upn"
    id="upn-field"
    maxlength="5"
    />
    <br>
    <label for="description-field">Product description:</label>
    <input
    required
    type="text"
    name="description"
    id="description-field"
    />
    <br>

    <label for="cost_price">Cost Price:</label>
    <input
    required
    type="number"
    name="cost_price"
    id="cost_price-field"
    />
    <br>

    <label for="retail_price">Retail Price:</label>
    <input
    required
    type="number"
    name="retail_price"
    id="retail-price-field"
    />
    <br>

    <label for="bookstock-field">Opening Bookstock:</label>
    <input
    required
    type="number"
    name="bookstock"
    id="bookstock-field"
    />
    <br>

    <label for="supplier_id-field">Supplier:</label>
    <select class="supplier-selector"id="supplier" name="supplier_id">
      <% for supplier in @suppliers  %>
      <option value="<%=supplier.id %>"><%=supplier.name %></option>
      <% end  %>
    </select>
    <br>

    <input class="big-btn-new" type="submit" value="Add product">
  </form>
</div>
